<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anshulkhantwal.assignment4">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.anshulkhantwal.assignment4.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showTask"
            android:label="@string/title_activity_show_task"
            android:screenOrientation="portrait"
            android:parentActivityName="com.anshulkhantwal.assignment4.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anshulkhantwal.assignment4.MainActivity" />
            <intent-filter>
                <action android:name="com.anshulkhantwal.assignment4.showTask" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTaskDialog"
            android:label="Add To Do Task"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="com.anshulkhantwal.assignment4.AddTaskDialog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowTaskDialog"
            android:label="Show To Do Task"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="com.anshulkhantwal.assignment4.ShowTaskDialog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>