<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anshulkhantwal.anshul.datastoragehacks">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_datahacks"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDefault">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SharedPreferencesHack"
            android:label="@string/title_activity_sharedpreferences"
            android:theme="@style/AppThemeDefault.NoActionBar" />
        <activity
            android:name=".InternalStorageHack"
            android:label="@string/title_activity_internalstorage"
            android:theme="@style/AppThemeDefault.NoActionBar" />
        <activity
            android:name=".ExternalStorageHack"
            android:label="@string/title_activity_external_storage_hack"
            android:theme="@style/AppThemeDefault.NoActionBar" />
        <activity
            android:name=".SQLiteDatabaseHack"
            android:label="@string/title_activity_sqlite_database_hack"
            android:theme="@style/AppThemeDefault.NoActionBar" />
        <activity
            android:name=".DisplayDatabase"
            android:label="@string/title_activity_display_database"
            android:theme="@style/AppThemeDefault.NoActionBar"></activity>
    </application>

</manifest>